<h1>Listing curlies</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @curlies.each do |curly| %>
  <tr>
    <td><%= link_to 'Show', curly %></td>
    <td><%= link_to 'Edit', edit_curly_path(curly) %></td>
    <td><%= link_to 'Destroy', curly, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Curly', new_curly_path %>
