
<h1>
  Example
</h1>
  <div onclick="location.href = 'http://justinkasad.com'" class="curl"></div>
<h1>CSS Page Curl</h1>
<p>hover over page curl to resize</p>
<div class="settings_container">
<input type="button" onclick="$('.curl').toggleClass('purple')" value="Make Purple">
<br>
<input type="input" class="url_input_field" value="http://" >
<input type="button" class="url_input_field_button" value="Change Link">

</div>






