
<script type="text/javascript">
$(document).ready(function(){
$('#target').fold();
});
</script>

<a href="http://google.com" target="_blank">
<img id="target" src="/img/shell.png">
</a>
<h1 style="text-align: center;">Demo.</h1>