<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->
      <div class="sidebar-nav">
        <div class="well" style="width:300px; padding: 8px 0;">
          <ul class="nav nav-list">
            <li class="nav-header">Widget Settings</li>
            <li><a href="#"><i class="icon-tasks"></i> Dashboard</a></li>
            <li><a href="#"><i class="icon-plus"></i> Create New Topbar <span class="badge badge-info"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="span10">
      <!--Body content-->

      <div class="settings_container">
        <h1 style="font-size: 26px">Create a Topbar widget</h1>
        <div class="accordion" id="accordion2">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                Step #1 - Insert Link
              </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse in">
              <div class="accordion-inner">
                <input type="text" name="name" class="url_input_field  span8" placeholder="ie - https://www.google.com">
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Step #2 - Choose Color
              </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
              <div class="accordion-inner">
                Enter an HTML color code
              </div>
              #<input type="text" class="html_color" value="">
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                Step #3 - Choose your text
              </a>
            </div>
            <div id="collapseThree" class="accordion-body collapse">
              <div class="accordion-inner">
                Choose your text
              </div>
              <input type="text" class="widget_text" value="">
            </div>
          </div>
        </div>
        <textarea  class="widget_code" style="display: none;width: 100%;height: 90px;cursor: text !important"></textarea>
        <input type="button" class="btn btn-large btn-success generate_widget" value="Generate Widget Code">
      </div>

    </div>
  </div>
</div>









